body {
	color: #FFF1C4;
	background-image:url('../images/bodyBackground.png');
	text-align: center;
}
footer {
	padding-top: 15px;
	clear: both;
}
h1 {
	font-size:250%;
}
h2 {
	font-size:85%;
	padding-bottom: 5px;
}
hgroup{
	margin: 0 30%;
	background: -webkit-radial-gradient(center,rgba(165,82,0,1),rgba(165,82,0,0)); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(center,rgba(165,82,0,1),rgba(165,82,0,0)); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(center,rgba(165,82,0,1),rgba(165,82,0,0)); /* For Firefox 3.6 to 15 */
	background: radial-gradient(to center, rgba(165,82,0,1), rgba(165,82,0,0)); /* Standard syntax */
}
aside{
	margin: 0 42%;
	padding: 5px 0;
	background: -webkit-radial-gradient(center,rgba(165,82,0,1),rgba(165,82,0,0)); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(center,rgba(165,82,0,1),rgba(165,82,0,0)); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(center,rgba(165,82,0,1),rgba(165,82,0,0)); /* For Firefox 3.6 to 15 */
	background: radial-gradient(to center, rgba(165,82,0,1), rgba(165,82,0,0)); /* Standard syntax */
}
canvas{
	border-width: 20px;
	-webkit-border-image:url('../images/canvasBorder.png') 20 20 20 20 round; /* Safari 5 */
	-o-border-image:url('../images/canvasBorder.png') 20 20 20 20 round; /* Opera 10.5-12.1 */
	border-image:url('../images/canvasBorder.png') 20 20 20 20 round;
}

#gameTitle{
	text-align: center;
}
#screen {
	display:block;
	margin:0 auto;
	background-color:#F0F;
}

.fpsmeter {
	padding: 0;
    margin: 0;
	width: 100%;
	text-align: center;
}
 .fpsmeter p {
	margin-top: 0px;
	margin-bottom: 0px;
}
